{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% include 'includes/head.html' %}
    </head>


    <body>
        {% include 'includes/top.html' %}
        <div class="container py-3">

            {% include 'includes/header.html' %}
            <main>

                {% block content %}
                {% endblock content %}

                {% comment %}
                {% include 'includes/compare_plans.html' %}

                {% endcomment %}
            </main>
            {% include 'includes/footer.html' %}
        </div>






        <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    </body>
</html>
